.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;

  /* Because we want header to be sticky later */
  height: 4.3rem;
  padding: 0 4rem;
  position: relative;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%
  );
}

.body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
}
.logo {
  height: 4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: cursive;
  font-weight: bolder;
  text-align: center;
  padding-top: 20px;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: white;
  padding-bottom: 5px;
  border-bottom-style: solid;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.4rem 1rem;
  border-radius: 9px;
  color: #fff;
  background-color: #e19898;
  align-items: center;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #000;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.personal {
  display: block;
  margin-left: 700px;
  margin-top: 74px;
  width: 65%;
}
.personal1::before,
.personal1::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 72%;
  left: 68%;
  transform: translate(-50%, -50%);
}

.personal1::before {
  width: 30%;
  /* height: 60%; */

  /* 60% of parent's width */
  padding-bottom: 10%;

  background-color: #e8f9fd;
  z-index: -2;
}

.personal1::after {
  width: 35%;
  padding-bottom: 25%;
  background-color: #e8f9fd;
  z-index: -1;
}

.hello {
  position: absolute;
  font-family: "Pacifico", cursive;
  font-weight: 500;
  font-size: 40px;
  top: 35%;
  padding-left: 4%;
  font-weight: bold;
  color: #e8f9fd;
}
.name {
  position: absolute;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 100px;
  top: 38%;
  padding-left: 3%;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.info {
  position: absolute;

  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 25px;
  top: 49%;
  padding-left: 3%;
  color: #f3fde8;
}
.link {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  bottom: 80px;
  left: 100px;
}

.social {
  display: flex;
  overflow: hidden;
}

.social img {
  width: 100%;
  transition: all 0.4s;
}

.social img:hover {
  transform: scale(1);
}
.social img {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  margin-right: 2rem;
  border: 3px solid #7fbcd2;
}

.social img:last-child {
  margin: 0;
}
.insta {
  padding-right: 2rem;
}
.face {
  padding-right: 2rem;
}

.gmail {
  padding-right: 1rem;
}
.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
* {
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fae5d3;
}
